<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @street.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @street.image %>
</p>

 <h2>Listen to Pronunciations</h2>
  <section id="audio">
  </section>

<table>
  <thead>
    <tr>
      <th>Pronunciations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @street.voicemails.present? %>
      <% @street.voicemails.each do |voicemail| %>
        <tr>
          <td><%= link_to "HTML5 Audio", "#{voicemail.url}.mp3", :class => "html5" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>


<script type="text/javascript"
  src="https://static.twilio.com/libs/twiliojs/1.2/twilio.min.js">
</script>

<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>



<script>

  $(document).ready(function() {
      var audioSection = $('section#audio');
      $('a.html5').click(function() {

          var audio = $('<audio>', {
               controls : 'controls'
          });

          var url = $(this).attr('href');
          $('<source>').attr('src', url).appendTo(audio);
          audioSection.html(audio);
          return false;
      });
  });

</script>
