<p id="notice"><%= notice %></p>

<h1>Listing Voicemails</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voicemails.each do |voicemail| %>
      <tr>
        <td><%= voicemail.url %></td>
        <td><%= link_to 'Show', voicemail %></td>
        <td><%= link_to 'Edit', edit_voicemail_path(voicemail) %></td>
        <td><%= link_to 'Destroy', voicemail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voicemail', new_voicemail_path %>
