<h1>Agent Dashboard</h1>
<p>Status: Customer has requested a callback.</p>
<table>
 <tr><th>Name</th><td><%= @customer.firstname %> <%= @customer.lastname %></td></tr>
 <tr><th>Location</th><td><%= @customer.city %>, <%= @customer.state %></td></tr>
</table>
<button onClick="call()">Make Call</button>

<!-- <script type="text/javascript" src="https://www.twilio.com/blog//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script> -->

<script type="text/javascript"
src="https://static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>

<script>
// works on IE9 and above
document.addEventListener("DOMContentLoaded", function(event) {
  Twilio.Device.setup("<%= @token %>");
});

function call() {
  Twilio.Device.connect({id: @customer.id});
}
</script>